<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.project.mapper.SysUserMapper">

    <select id="selectRoleByUser" resultType="java.lang.String">
        SELECT
            role_name
        FROM
            sys_user a,
            sys_role b,
            sys_user_role c
        WHERE
            a.id = c.user_id
        AND b.role_id = c.role_id
        AND a.id = #{id}
    </select>
</mapper>
